# Backend
SECRET_KEY=your-django-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
POSTGRES_DB=codegard
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgres://postgres:postgres@postgres:5432/codegard

# Redis
REDIS_PASSWORD=your-redis-password-here

# Judge
JUDGE_SECRET_KEY=your-judge-secret-key-here
JUDGE_URL=http://judge:8001

# Cloudflare R2 (S3-compatible)
R2_ACCOUNT_ID=ec573e047b7ffcbbe42bfbb4a79032f3
R2_ACCESS_KEY_ID=78dd2e580634a4fdc3592806f62687a5
R2_SECRET_ACCESS_KEY=5c1f4cce58fc2bd25d778413e32b2c3d87bf2ad465c6b162e44fff31f84838a0
R2_BUCKET_NAME=codegard
